<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <header class="bg-primary text-grey text-center py-4">
        <h1>Juan Ignacio de la Cuadra B.</h1>
    </header>
    <section class="mb-5 mt-5">
      <h2 class="text-center">HOME PAGE</h2>
        <p class="lead text-center">Feel free to navigatemy home page!</p>
    </section>

</body>
</html>